[main.c]
#include "main.hpp"

int main(void) {
	std::cout << "hello, world!" << std::endl;
}

[main.h]
#pragma once

#include <iostream>

[makefile]
# No folders template makefile

TARGET   := example
CC       := g++
CFLAGS   := -Wextra
LFLAGS   := 
INCLUDES := ./
CPPFLAGS := 

SOURCES   := $(shell find ./ -type f -name '*.cpp')
LIBS      := 
OBJS      := $(patsubst %.cpp,%.o,$(SOURCES))
OBJS_LIBS := $(patsubst %.cpp,%.o,$(LIBS))

all: $(TARGET)

$(TARGET): $(OBJS) $(OBJS_LIBS)
	$(CC) $(CFLAGS) $(CPPFLAGS) $(OBJS) $(OBJS_LIBS) -o $(TARGET) $(foreach inc, $(INCLUDES), -I $(inc))

%.o: %.cpp
	$(CC) $(CFLAGS) $(CPPFLAGS) -c $^ -o $@ $(foreach inc, $(INCLUDES), -I $(inc))

clean:
	rm -f $(TARGET) $(OBJS) $(OBJS_LIBS)
